@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
}

*,
input,
button {
  font-family: "JetBrains Mono", monospace;
}

body {
  padding-top: 32px;
  box-sizing: border-box;
}

.content {
  width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border: none;
  background-color: #75d0fa;
  border-radius: 4px;
}

.input-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-bottom: 16px;
}

button,
input {
  margin: 0 !important;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 18px;
}

.list {
  width: 100%;
}

ul {
  width: 100%;
  padding: 0;
}

li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 !important;
  margin: 8px 0;
}

a {
  cursor: pointer;
}

img {
  width: 30px;
}

button {
  background-color: #ffffff;
  cursor: pointer;
}

button:active {
  background-color: #adefff;
}